body {
    background-color: #577A9E;
    color: white;
    text-align: center;
    font-size: 16px;
    background-image: url('https://dsx.weather.com/util/image/map/acttemp_1280x720.jpg?v=ap&w=1280&h=720&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0');
    background-repeat: no-repeat;
    background-size: contain;

    .main-container {
        position: relative;
        width: 85%;
        max-height: 85%;
        margin:  10% auto;
        padding: 25px;
        z-index: 10;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;

        .left-pane, 
        .left-col {
            display: inline-block;
            width: 35%;
            height: 100%;
            margin: 3% auto;
            padding: 0 0 0 0;
            vertical-align: top;
            text-align: center;

        } // .left-pane 
        .left-col {
            text-align: center;
            margin-left: 5%;
        }

        .right-pane,
        .right-col {
            display: inline-block;
            width: 42%;
            height: 100%;
            margin: 3% auto;
            padding: 0 0 0 0;        
            vertical-align: top;
            text-align: left;
        } // .right-pane
        .right-col {
            text-align: center;
            margin-right: 5%;
        }
        &:after,
        .left-pane:after,
        .left-col:after
        .right-pane:after,
        .right-col:after {
            content: 'top';
            display: block;
            float: none;
            clear: both;
        }
    } // .main-container
    
} //body