.weather {
    h2 {
        text-align: center;

        span {
            font-size: .875rem;
        }
    }
    .condition-icon {
        font-size: 4rem;
    }
    .condition-text {
        font-size: 2rem;
    }
    .current-temp {
        font-size: 1.75rem;

        .current-temp-val {
            font-size: 4rem;
        }
    }
}